.TechnologiesContainer {
    width: 100vw;
    height: 60vh;
    background-color: $Background;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

.TechnologyItem {
    z-index: 3;
    flex-shrink: 0;
    width: 25vw;
    height: 45vh;
    padding: 20px;
    margin: 0 20px;
    background-color: $Background;
    border-radius: 5px;
    color: $AnyText;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    white-space: wrap;
    border: none;
    overflow: hidden;
    position: relative;
    

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.Title{
    z-index:4;
}
.Description{
    color: $MainText;
    font-size: 16px; 
    z-index:4;
}
.TechnologyItemShow{
    z-index: 3;
    flex-shrink: 0;
    width: 25vw;
    height: 45vh;
    padding: 20px;
    margin: 0 20px;
    background-color: $MainText;
    border-radius: 5px;
    color: $Background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    white-space: wrap;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.ClickMe{
    color: rgb(93, 93, 93);
    position: absolute;
    margin-top: -85%;
    margin-left: 75%;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.IconContainer{
    position: absolute;
    z-index: 1;
    margin-top: 50%;
    margin-left: -50%;
    color: #00000033;
}
.Icon{
    z-index: 1;
    width: 400px;
    height: 400px;
    
}
.IconContainerVisible{
    position: absolute;
    z-index: 1;
    margin-top: 50%;
    margin-left: -50%;
    color: rgba(206, 206, 206, 0.2);
}
.CardCounter{
    font-size: 30px;
    margin-left: 90px;
    position: absolute;
    z-index: 5;
    color: $MainText;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}