@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$MainText: #303030;
$SecondBAck: #151515;
$Background: #fdfdfd;
$AnyText: #29c0e2;
$FirstGradient: linear-gradient(90deg, #414394 0%, #652594 100%);
$SecondGradient: linear-gradient(90deg, #1886f1 0%, #ae0cf9 100%);
