.ContactContainer{
    width: 100vw;
    height: 80vh;
    background-color: $MainText;
    padding-top: 10%;
    padding-left: 50px;
    padding-right: 50px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.InfoContact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Introduction{
    font-size: 40px;
    width: 100vw;
}
.ContactForm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.FlexUpForm{
    display: flex;
    flex-direction: row;
    
}
.ContactDiscription{
    width: 90vw
}

.NameInput{
    width: 30vw;
    height: 40px;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $Background;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.NameInput{
    width: 30vw;
    height: 40px;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $Background;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.NameInput{
    width: 30vw;
    height: 40px;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $Background;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Input{
    width: 30vw;
    height: 5ch;
    padding: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1.5px solid rgb(184, 184, 184);
    margin: 10px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.AreaBut{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AreaInput {
  width: 85%;
  height: 10ch;
  padding: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1.5px solid rgb(184, 184, 184);
  margin: 10px;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  resize: none;
}

.ButtonContact{
    position: absolute;
    width: 10ch;
    height: 10ch;
    border-radius: 50%;
    border: none;
    background-color: $AnyText;
    margin-top: 40px;
    margin-left: 80%;
    box-shadow: 0px 0px 30px rgba(86, 228, 230, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 2px rgba(86, 228, 230, 0.4);
    }
}


.ButtonContactWait{
    position: absolute;
    width: 10ch;
    height: 10ch;
    border-radius: 50%;
    border: none;
    background-color: $AnyText;
    margin-top: 40px;
    margin-left: 80%;
    box-shadow: 0px 0px 30px rgba(86, 228, 230, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    &:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 2px rgba(86, 228, 230, 0.4);
    }


}
@keyframes rio {
    0% {
        
    }
}
@media (max-width: 710px) {
    .Introduction{
        font-size: 30px;
        margin-left: 20%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .InfoContact{
        flex-direction: column;
    }
    .ContactForm{
        margin-left: -10%;
    }
    .AreaInput{
        width: 90%;
    }
    .ButtonContact{
        margin-top: 40px;
        margin-left: 60%;
    }
    .ButtonContactWait{
        margin-top: 40px;
        margin-left: 60%;
    }
}
@media (min-width: 730px) and (max-width: 1000px) {
    .ButtonContact{
        margin-top: 40px;
        margin-left: 70%;
    }
    .ButtonContactWait{
        margin-top: 40px;
        margin-left: 70%;
    }
}
