.AddirionalTextContainer{
    width: 100vw;
    height: 87vh;
    color: #fff;
    font-size: 50px;
    background-color: $SecondBAck;
    z-index: 1;
}
.TextContainer {
    position: absolute;
    font-size: 65px;
    color: $Background;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    z-index: 2;
    width: 100vw;
    height: 87vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   
.BackWord{
    width: 100vw;
    height: 87vh;
    position: relative;
}


.web{
    position: absolute;
    rotate: -90deg;
    margin-left: 0vw;
    margin-top: 60vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product{
    position: absolute;
    rotate: -90deg;
    margin-left: 10vw;
    margin-top: 27vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.qa{
    position: absolute;
    rotate: -90deg;
    margin-left: 55vw;
    margin-top: 30vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fullstack{
    position: absolute;
    rotate: -90deg;
    margin-left: 75vw;
    margin-top: 35vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dev{
    position: absolute;
    rotate: -90deg;
    margin-left: 60vw;
    margin-top: 60vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design{
    position: absolute;
    rotate: -90deg;
    margin-left: 30vw;
    margin-top: 40vh;
    background: $SecondGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Professional {
  margin: 10px;
  margin-left: 20%;
}
.Software {
  margin: 10px;
  margin-left: -30%;
}
.Development {
  margin: 10px;
  margin-left: 15%;
}
